<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.formi.mediasoftnetworking">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.id_search.IDSearchActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".presentation.main.MainActivity" />
        <activity android:name=".presentation.name_search.NameSearchActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".presentation.main.MainActivity"/>
        <activity android:name=".presentation.id_search.search_by_id_result.SearchResultActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".presentation.id_search.IDSearchActivity"/>
        <activity android:name=".presentation.id_search.requests.RequestsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".presentation.id_search.IDSearchActivity" />
        <activity android:name=".presentation.name_search.search_by_name_result.SearchResultByNameActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".presentation.name_search.NameSearchActivity" />
    </application>

</manifest>